@use '~bootstrap/scss/bootstrap';

.mainsun {
    background-image: linear-gradient(#005baa, #40a4dc);
    min-height: 100vh;
}
.home {
    background-image: linear-gradient(#002b50, #16374b);
    min-height: 100vh;
}

.about {
    background-color: white;
    color: black;
}

.text {
    margin-top: 3em;
    padding-left: 2.5ch;
    font-family: "Open sans", regular;
    text-align: start;
}

.outer {
    background-color: lightgray;
}

.bottomright {
    float: right;
}

#content {
    background-color: white;
}

.navbar {
    padding-top: 0%;
    padding-bottom: 0%;
    border-bottom: 1px solid grey;
    font-family: "Open sans", sans-serif;
    color: black;
}

.navbar-toggler {
    float: left;
}

#drop {
    padding-top: 0.5em;
}

.navbar-brand {
    font-size: 22pt;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
